.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  /* Basic Colors/Surface1 */
  background: #232323;
  /* Strong */
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

  .meta {
    // as a flex item
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    //as a flex container
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    color: #cecece;

    .meta-text {
      // as a flex item
      flex: none;
      order: 0;
      flex-grow: 0;
      //as a flex container
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;
    }

    // email
    .textInput {
      // as a flex item
      flex: none;
      align-self: stretch;
      flex-grow: 0;
      input {
        width: 100%;
        height: 32px;
        padding: 8px;
        /* Text/onBackground */
        color: #cecece;
        /* Basic Colors/Surface2 */
        background: #353535;
        border-radius: 8px;
        /* States/Enabled */
        &.ng-pristine.ng-untouched {
          border: 1px solid rgba(255, 232, 31, 0.3);
        }
        &.ng-touched {
          /* States/Focused */
          border: 1px solid #ffe81f;
          /* Text/onSurface */
          color: #dfdfdf;
        }
        &.ng-invalid.ng-dirty.ng-touched {
          /* States/Error */
          border: 1px solid #c47768;
        }
        &.ng-valid.ng-dirty.ng-touched {
          /* States/Success */
          border: 1px solid #03dac6;
        }
      }
      span {
        flex: none;
        font-size: 14px;
        /* States/Error */
        color: #c47768;
      }
    }

    button {
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      height: 40px;
      /* Basic Colors/Primary */
      background: #ffe81f;
      color: #20182b;
      /* Weak shadow */
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        /* Medium shadow */
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
      }
      &:active {
        /* Basic Colors/Surface2 */
        border: 1px solid #353535;
        /* Medium shadow */
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
      }
      &[disabled] {
        cursor: default;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.12);
        color: rgba(255, 255, 255, 0.32);
      }
    }

    .content {
      /* Auto layout */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      /* Inside auto layout */
      flex: none;
      align-self: stretch;
      flex-grow: 0;
      div {
        padding: 8px 0px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.12));
        border-radius: 8px;
        .content-row {
          /* Auto layout */
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          gap: 8px;
          .content-tag{
            padding: 8px;
            font-size: 14px;
            /* Basic Colors/Surface2 */
            background: #353535;
            border-radius: 4px;
          }
          
          .content-tag-emptied{
            padding: 8px;
            /* States/Disabled */
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 4px;
            /* Text/onDisabled */
            color: rgba(255, 255, 255, 0.32);
          }
        }
      }
    }
  }
}
