  <img class="swLogo" src="../assets/LogoStarWars.png" alt="" />
  <app-card>
    <form class="meta" [formGroup]="firstForm" (ngSubmit)="onSubmit()">
      <div class="meta-text">
        <h1>Olá!</h1>
        <p>Para começar seu teste, digite um e-mail:</p>
      </div>
      <div class="textInput">
        <input
          formControlName="email"
          type="email"
          placeholder="exemplo@email.com"
          required
        />
        @if ((!firstForm.controls.email.valid &&
        firstForm.controls.email.dirty)) {
        <span>Email Inválido</span>
        }
      </div>
      <button type="submit" [disabled]="!firstForm.valid">Próximo</button>
    </form>
  </app-card>
